<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="//code.angularjs.org/snapshot/angular.min.js"></script>

<main> 
    <section class="heroImage ">
        
        <div class="thumbnail hidden-sm hidden-xs" style="background-image: url('../../../assets/classroom.jpg');"></div>
        <div class="thumbnail visible-xs vixible-sm" style="background-image: url('../../../assets/classroom.jpg');"></div>  
        <div class="cover"></div>

        <div class="video_content">
            
                <div class="text">
                <p style="color:white" >Para nosotros es un placer atenderte. Por eso, te ofrecemos diferentes medios para responder a cada una de tus solicitudes de la manera que más te convenga.</p> 
                </div>  

                <table class="column">
                    <tr>
                        <td>
                            <div id="social_1" class="rep_btn" href="">
                                <a href="http://www.facebook.com" class="fa fa-facebook"></a>    
                                <h5 style="color:white" >https://www.facebook.com</h5>
                            </div>
                            <!-- <h5>https://www.facebook.com</h5> -->
                        </td>
                        <td>
                            <div id="social_2" class="rep_btn" href="">
                                <a href="https://twitter.com" class="fa fa-twitter"></a>
                                <h5 style="color:white">https://twitter.com</h5>
                            </div>
                            <!-- <h5>https://twitter.com</h5> -->
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div id="social_3" class="rep_btn" href="">
                                <a href="https://www.youtube.com" class="fa fa-youtube"></a>
                                 <h5 style="color:white">https://www.youtube.com</h5>
                            </div>
                            <!-- <h5>https://www.youtube.com</h5> -->
                        </td>
                        <td>
                            <div id="social_4" class="rep_btn" href="">
                                <a href="https://www.web.whatsapp.com" class="fa fa-whatsapp"></a>
                                <h5 style="color:white">https://www.web.whatsapp.com</h5>
                            </div>
                            <!-- <h5>https://www.web.whatsapp.com</h5> -->
                        </td>
                    </tr>    
                </table>  
                
                <div class="mapa_google">
                        <div class="rep_btn" href="">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3825.5401912563616!2d-68.1266436!3d-16.4988043!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915f206f2fc73edf%3A0x1be110d561f41fa3!2sSeduca!5e0!3m2!1sen!2sbo!4v1539040641714" width="200" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                </div>
                <div class="footer">
                    <b style="color:white">Dirección Departamental de Educación La Paz| Dirección Av. Illimani N°1953, La Paz - Bolivia | Teléfono 2202153-2202507-2202721-2202164 |...| ...</b>
                </div>       
        </div>            
    </section> 
</main>