<meta name="viewport" content="width=device-width, initial-scale=1">



<main> 
    <section class="heroImage ">
        
        <div class="thumbnail hidden-sm hidden-xs" style="background-image: url('../../../assets/classroom.jpg');"></div>
        <div class="thumbnail visible-xs vixible-sm" style="background-image: url('../../../assets/classroom.jpg');"></div>  
        <div class="cover"></div>

        <div class="video_content">
          <div class="container">    
            <div class="row-ext">
              <div class="texto-1 col-xs-12 col-ms-12 col-md-12 col-lg-12">Para nosotros es un placer atenderte. Por eso, te ofrecemos diferentes medios para responder a cada una de tus solicitudes de la manera que más te convenga.</div> 
              <div class="col-xs-12 xol-ms-12 col-md-6 col-lg-6">
                <div class="container">
                  <div class="row-int">
                    <div class="social-1 rep_btn col-md-6-col-lg-6 ">
                      <a href="http://www.facebook.com" class="fa fa-facebook"></a>
                      <h5 style="color:white" >https://www.facebook.com</h5>
                    </div>
                    <div class="social-2 rep_btn col-md-6-col-lg-6 ">
                      <a href="https://twitter.com" class="fa fa-twitter"></a><br>
                      <h5 style="color:white">https://twitter.com</h5>
                    </div>  
                  </div>
                  <div class="row">
                    <div class="social-3 rep_btn col-md-6-col-lg-6 ">
                      <a href="http://www.youtube.com" class="fa fa-youtube"></a>
                      <h5 style="color:white">https://www.youtube.com</h5>
                    </div>
                    <div class="social-4 rep_btn col-md-6-col-lg-6 ">
                      <a href="https://webwhatsapp.com" class="fa fa-whatsapp"></a><br>
                      <h5 style="color:white">https://www.web.whatsapp.com</h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mapa rep_btn col-xs-12 col-ms-12 col-md-6 col-lg-6 ml-lg-auto">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3825.5401912563616!2d-68.1266436!3d-16.4988043!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915f206f2fc73edf%3A0x1be110d561f41fa3!2sSeduca!5e0!3m2!1sen!2sbo!4v1539040641714" width="200" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
              </div>
              <div class="texto-2 col-xs-12 col-ms-12 col-md-12 col-lg-12">Dirección Departamental de Educación La Paz| Dirección Av. Illimani N°1953, La Paz - Bolivia | Teléfono 2202153-2202507-2202721-2202164 |...| ...</div>  
            </div> 
          </div>
        </div>         

    </section> 
</main>