.fa {
  padding: 12px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  //margin: 2px 2px;
  border-radius: 100%;
}

.fa:hover {
    opacity:100;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-whatsapp {
  background: #25D366;
  color: white;
}

.texto-1 {
  font-size: 17px;
}

.texto-2 {
  float: bottom;
  font-size: 15px;
  text-align: center;
}

.rep_btn {
    background-color: transparent;
    border: none;
    text-transform: lowercase;
    font-size: 15px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

//  div[class|="col"] {
//   border: 1px solid red;
// }

button[class|="social"] {
  display: block;
  align-content: center; 
  padding: 45px;
}

div[class|="texto"] {
  margin-top: 100px;
  color: white;
}
